* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Slider */

.slider-wrap {
  height: 100px;
  width: 100%;
  overflow-x: hidden;
}

.slider {
  height: 100%;
  width: 200%;
  position: relative;
  left: 0;
  transition: left 0.4s ease-out;
}

.slider-item {
  height: 100%;
  width: 25%;
  float: left;
}

.item1 {
  padding: 5px;
}
.item1 .content {
  height: 100%;
  background: darkred;
}
.item2 {
  height: 100%;
  background: darkgreen;
}
.item3 {
  height: 100%;
  background: darkblue;
}
.item4 {
  height: 100%;
  background: orange;
}

.controls {
  text-align: center;
}

/* Tabs */

.tab {
  float: left;
  width: 33.3%;
  text-align: center;
  background: lightgray;
  padding: 5px 0;
  cursor: pointer;
}
.tab:hover {
  background: gray;
}
.tab.is-active {
  color: white;
  background: black;
}

.tab-content-wrap {
  clear: both;
  padding: 5px;
}

.tab-content {
  display: none;
}
.tab-content.is-active {
  display: block;
}
